@font-face {
    font-family: Headfonts;
    src: url(Resources/AfacadFlux-Regular.ttf)
}

@font-face {
    font-family: Bodyfonts;
    src:url(Resources/SourceSerif4_18pt-Regular.ttf)
}

html {
    background-color: lightgray;
}

body {
    margin:0px;
    padding:0px;
}

.banner {
    width: 100%;
    background-image: url(Resources/—Pngtree—vector\ of\ saving\ the\ planet_3740986.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4dbf4f;
    height: 250px;
}

.navbar {
    position: sticky;
    top: 0;
    display:flex;
    justify-content: center;
    padding: 10px;
}

button {
    font-size: 1.2em;
    font-family: Headfonts;
}

section, footer {
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: Headfonts;
    text-decoration: underline;
}

h2 {
    font-family: Headfonts;
}


.fact {
    display:flex;
    flex-direction: column;
    border: solid; 
    background-color: whitesmoke;
    border-radius: 5px;
}

p {
    padding: 10px;
    font-family: Bodyfonts;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color:darkorchid;
}

section a:active {
    border: lightblue solid 3px;
    text-decoration: darkorchid;
}

button:active {
    border: lightblue solid 3px;
    background-color: white;
}

.fact img {
    align-self: center;
}



