@font-face {
    font-family: Headfonts;
    src: url(Resources/Fonts/AfacadFlux-Regular.ttf)
}

@font-face {
    font-family: Bodyfonts;
    src:url(Resources/Fonts/SourceSerif4_18pt-Regular.ttf)
}

html {
    background-color: lightgray;
}

body {
    margin:0px;
    padding:0px;
}

h1 {
    text-align: center;
    font-family: Headfonts;
    text-decoration: underline;
}

h2 {
    font-family: Headfonts;
}

.banner {
    width: 100%;
    background-image: url(Resources/—Pngtree—vector\ of\ saving\ the\ planet_3740986.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4dbf4f;
    height: 250px;
}

.navbar {
    position: sticky;
    top: 0;
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.pages {
    flex-grow: 1;
    display:flex;
    justify-content: center;
    margin-left: 300px;
}

form {
    padding: 10px;
    margin-top: 10px;;
}

input:focus {
    background-color: lightgrey;
    font-size: 1em;
}

button {
    font-size: 1.2em;
    font-family: Headfonts;
}

button:active {
    border: lightblue solid 3px;
    background-color: white;
}

section, footer {
    margin: 10px;
}

.fact {
    display:flex;
    flex-direction: column;
    border: solid; 
    background-color: whitesmoke;
    border-radius: 5px;
}

p {
    padding: 10px;
    font-family: Bodyfonts;
}

p::before {
    content: '🎯 '
}

p::first-line {
    font-weight: bold;
    font-size: 0.9rem;
}

li:nth-child(even) {
    background-color: beige;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color:darkorchid;
}
a:link {
    color: green;
}
section a:active {
    border: lightblue solid 3px;
    text-decoration: darkorchid;
}

.fact img {
    align-self: center;
    width:50%;
}

.imgwithtext p::before {
    content: none;
}

.imgwithtext {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.imgwithtext img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    font-family: Bodyfonts;
}

footer {
    margin-top: 150px;
}

@media (max-width: 414px) {
    .banner {
        height: 100px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .pages {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .pages ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .fact img {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.9em;
    }

    button {
        font-size: 1em;
    }

}